.sidebar-left {
  width: 100px;
  border: 15px solid green;
  padding: 50px;
  height: 700px;
}
.sidebar-right {
  width: 100px;
  border: 15px solid green;
  padding: 50px;
  height: 700px;
}
.main-content {
  height: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 40px;
  flex: 1;
}
.flex-center-demo {
  width: 1100px;
  border: 15px solid green;
  padding: 50px;
  margin-left: 0px;
}

.flex {
  display: flex;
}
